<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Download File</title>
    <link href="{{ url_for('static', filename='output.css') }}" rel="stylesheet">
    <link rel="icon" href="{{ url_for('static', filename='assets/logo.svg') }}" type="image/x-icon">
</head>

<body class="w-full">
    {% include 'components/header.html' %}
    
    <section class="flex items-center justify-center mt-28 gap-5">
        <button id="downloadButton" class="px-10 py-4 bg-gray-700 rounded-lg hover:bg-gray-500">Download</button>
        <button id="profileButton" class="px-10 py-4 bg-gray-700 rounded-lg hover:bg-gray-500">Profile</button>
    </section>

    <section class="m-[10%] flex gap-10 items-center justify-center flex-wrap">
        {% include 'components/profilecard.html' %}
        {% include 'components/profilecard.html' %}
        {% include 'components/profilecard.html' %}
    </section>
    
    {% include 'components/footer.html' %}
</body>

<script>
    document.getElementById('downloadButton').addEventListener('click', function () {
        window.location.href = '/download-file';
    });
    document.getElementById('profileButton').addEventListener('click', function () {
        window.location.href = '/profile';
    });
</script>

</html>