<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Download File</title>
    <link href="{{ url_for('static', filename='output.css') }}" rel="stylesheet">
    <link rel="icon" href="{{ url_for('static', filename='assets/logo.svg') }}" type="image/x-icon">
</head>

<body class="w-full">
    {% include 'components/header.html' %}
    <section class="min-h-[100vh] flex flex-col items-center justify-start">
        <button id="downloadButton" class="mt-[10rem] px-10 py-4 bg-gray-700 rounded-lg hover:bg-gray-500">Download Summaries</button>

        <div class="m-10 w-[90%] flex items-center justify-center gap-10 flex-wrap">
            {% for faculty in faculties %}
                {% include 'components/profilecard.html' %}
            {% endfor %}
        </div>
    </section>
    {% include 'components/footer.html' %}
</body>

<script>
    document.getElementById('downloadButton').addEventListener('click', function () {
        window.location.href = '/download-file';
    });
</script>

</html>