<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link href="{{ url_for('static', filename='output.css') }}" rel="stylesheet">
    <link rel="icon" href="{{ url_for('static', filename='assets/logo.svg') }}" type="image/x-icon">
</head>
</head>

<body class="w-full">
    {% include 'components/header.html' %}

    <section>
        <div class="w-[150vw] h-[220vh] absolute -top-[125%] -left-[25%] rounded-full z-[-1]"
            style="background: linear-gradient(to bottom, #31363F 60%, #76ABAE 100%);">
        </div>
        <div class="h-[100vh] flex flex-col items-center justify-center">
            <img class="w-[50rem]" src="{{ url_for('static', filename='assets/vector2.png') }}" alt="vector">
            <h1 id="hero-text"
                class="w-[50%] mt-5 font-roboto text-4xl font-bold text-[#222831] text-center flex-wrap break-words animate-blink overflow-hidden border-none">
            </h1>
        </div>
    </section>

    {% include 'components/footer.html' %}
</body>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const heroTextElement = document.getElementById("hero-text");
        const phrases = [
            "Your Research, Summarized!",
            "Effortless Faculty Profiles.",
            "Streamline Your Publications."
        ];

        let phraseIndex = 0;
        let letterIndex = 0;
        let currentPhrase = "";
        let isDeleting = false;
        let speed = 100;

        function typeEffect() {
            heroTextElement.textContent = currentPhrase.slice(0, letterIndex) + '|';

            if (!isDeleting && letterIndex <= phrases[phraseIndex].length) {
                letterIndex++;
                heroTextElement.textContent = phrases[phraseIndex].slice(0, letterIndex) + '|';
            }

            if (isDeleting && letterIndex <= phrases[phraseIndex].length) {
                letterIndex--;
                heroTextElement.textContent = phrases[phraseIndex].slice(0, letterIndex) + '|';
            }

            if (letterIndex === phrases[phraseIndex].length) {
                isDeleting = true;
                speed = 50;
                setTimeout(typeEffect, 1000);
                return;
            }

            if (isDeleting && letterIndex === 0) {
                isDeleting = false;
                phraseIndex = (phraseIndex + 1) % phrases.length;
                speed = 100;
            }

            setTimeout(typeEffect, speed);
        }

        setTimeout(typeEffect, 1000);
    });
</script>


</html>