<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ReSummarize</title>
    <link href="{{ url_for('static', filename='output.css') }}" rel="stylesheet">
    <link rel="icon" href="{{ url_for('static', filename='assets/logo.svg') }}" type="image/x-icon">
</head>
</head>

<body class="dropzone w-full" ondragover="allowDrop(event)" ondrop="drop(event)">
    {% include 'components/header.html' %}

    <section>
        <img src="{{ url_for('static', filename='assets/gradient.png') }}" alt="bg"
            class="absolute top-0 left-0 z-[-1]">
        <div class="h-[100vh] flex flex-col lg:flex-row items-center justify-center">
            <h1 id="hero-text"
                class="lg:-mt-[10rem] w-[40%] font-roboto text-4xl font-bold text-white text-center flex-wrap break-words animate-blink overflow-hidden border-none">
            </h1>
            <img class="lg:-mt-[10rem] w-[40rem]" src="{{ url_for('static', filename='assets/vector2.png') }}"
                alt="vector">
        </div>
        <div id="dropzone-div" class="flex justify-center items-center h-[100vh]">
            {% include 'components/dropzone.html' %}
        </div>
    </section>

    {% include 'components/footer.html' %}

    <script>
        window.addEventListener('load', () => {
            window.scrollTo(0, 0);
        });
        
        document.addEventListener("DOMContentLoaded", function () {
            const heroTextElement = document.getElementById("hero-text");
            const phrases = [
                "Your Research, Summarized!",
                "Effortless Faculty Profiles.",
                "Streamline Your Publications."
            ];

            let phraseIndex = 0;
            let letterIndex = 0;
            let currentPhrase = "";
            let isDeleting = false;
            let speed = 100;

            function typeEffect() {
                heroTextElement.textContent = currentPhrase.slice(0, letterIndex) + '|';

                if (!isDeleting && letterIndex <= phrases[phraseIndex].length) {
                    letterIndex++;
                    heroTextElement.textContent = phrases[phraseIndex].slice(0, letterIndex) + '|';
                }

                if (isDeleting && letterIndex <= phrases[phraseIndex].length) {
                    letterIndex--;
                    heroTextElement.textContent = phrases[phraseIndex].slice(0, letterIndex) + '|';
                }

                if (letterIndex === phrases[phraseIndex].length) {
                    isDeleting = true;
                    speed = 50;
                    setTimeout(typeEffect, 1000);
                    return;
                }

                if (isDeleting && letterIndex === 0) {
                    isDeleting = false;
                    phraseIndex = (phraseIndex + 1) % phrases.length;
                    speed = 100;
                }

                setTimeout(typeEffect, speed);
            }

            setTimeout(typeEffect, 1000);
        });
    </script>
</body>

</html>