<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Faculty Profile</title>
    <link href="{{ url_for('static', filename='output.css') }}" rel="stylesheet">
    <link rel="icon" href="{{ url_for('static', filename='assets/logo.svg') }}" type="image/x-icon">
</head>

<body class="w-full">
    {% include 'components/header.html' %}
    <section class="min-h-[100vh] flex flex-col items-center">
        <div class="mt-[12rem] w-[85%] flex flex-col mb-[2rem]">
            <div class="flex flex-col items-start mb-12 w-[60%] self-center">
                <div class="w-full flex items-baseline justify-between">
                    <h3 class="text-3xl">{{ faculty.name }}</h3>
                    <h6 class="text-md">{{ faculty.institution }}</h6>
                </div>
                <hr class="w-full self-center border-[#76ABAE]">
            </div>
            <div class="mt-[3rem] w-full flex justify-between">
                <!-- table -->
                <div class="w-[75%] flex flex-col items-center p-2 gap-2 border-r pr-10">
                    <div class="w-full flex items-center">
                        <p class="w-[60%]">Title</p>
                        <p class="w-[30%] text-center">Journal</p>
                        <p class="w-[10%] text-center">Year</p>
                        <p class="w-[10%] text-center">Abstract</p>
                    </div>
                    <hr class="w-full border-[#76ABAE]">
                    
                    {% for row in faculty.research %}
                        {% include 'components/tableRow.html' %}
                    {% endfor %}
                </div>

                <!-- sidebar -->
                <div class="w-[22%] flex flex-col items-start">
                    {% if (faculty.email and faculty.email != "") or (faculty.address and faculty.address != "") %}
                        <div class="flex flex-col items-start gap-2 mb-8 ">
                            <h2 class="border-b border-[#76ABAE] py-2 mb-1">Contact Information</h2>
                            {% if faculty.email and faculty.email != "" %}
                                <p class="flex items-center gap-2 text-sm">
                                    email: 
                                    <a href="mailto:{{ faculty.email }}" class="underline">{{ faculty.email }}</a>
                                </p>
                            {% endif %}
                            {% if faculty.address and faculty.address != "" %}
                                <p class="flex items-center gap-2 text-sm">
                                    address: {{ faculty.address }}
                                </p>
                            {% endif %}
                        </div>
                    {% endif %}
                    <div class="flex flex-col items-start gap-2">
                        <h2 class="border-b border-[#76ABAE] py-2 mb-1">Filters</h2>
                        <div id="yearFilters" class="flex items-start gap-3">
                            {% for year in years %}
                                <label class="flex items-center gap-2 cursor-pointer">
                                    <input type="checkbox" class="year-checkbox cursor-pointer" value="{{ year }}">
                                    {{ year }}
                                </label>
                            {% endfor %}
                        </div> 
                        <div class="flex flex-col text-[#222831] mt-4">
                            <label for="startYear">Start Year:</label>
                            <input type="number" id="startYear" class="border w-[90%] rounded-md p-1">
                            <label for="endYear" class="mt-2">End Year:</label>
                            <input type="number" id="endYear" class="border w-[90%] rounded-md p-1">
                            <button id="applyRange" class="mt-2 bg-[#76ABAE] hover:bg-[#2cb1b8] text-white w-[90%] rounded-md p-1">Apply Range</button>
                            <button id="clearRange" class="mt-2 bg-red-400 hover:bg-red-600 text-white w-[90%] rounded-md p-1">Clear</button>
                        </div>                     
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% include 'components/footer.html' %}
</body>

<script>
    document.addEventListener('DOMContentLoaded', function() {

        document.querySelectorAll('.year-checkbox').forEach(checkbox => {
            checkbox.addEventListener('change', filterResearch);
        });

        function filterResearch() {
            const selectedYears = Array.from(document.querySelectorAll('.year-checkbox:checked')).map(cb => cb.value);
            const startYear = document.getElementById('startYear').value = null;
            const endYear = document.getElementById('endYear').value = null;
            
            const rows = document.querySelectorAll('.tablerow');
            rows.forEach(row => {
                const rowYear = row.getAttribute('data-year');
                if (selectedYears.length === 0 || selectedYears.includes(rowYear)){
                    row.style.display = '';
                    const accordions = document.querySelectorAll(`.accordion-${rowYear}`);
                    accordions.forEach(acc => {
                        acc.style.display = '';
                    });
                } 
                else{
                    row.style.display = 'none';
                    const accordions = document.querySelectorAll(`.accordion-${rowYear}`);
                    accordions.forEach(acc => {
                        acc.style.display = 'none';
                    });
                }
            });
        }

        document.getElementById('applyRange').addEventListener('click', applyRangeFilter);

        function applyRangeFilter() {
            const startYear = document.getElementById('startYear').value;
            const endYear = document.getElementById('endYear').value;
            const rows = document.querySelectorAll('.tablerow');

            if (!startYear || !endYear) return;

            if (parseInt(startYear) > parseInt(endYear)) {
                alert('Start year should be less than or equal to end year');
                return;
            }

            rows.forEach(row => {
                const rowYear = parseInt(row.getAttribute('data-year'));
                if (rowYear >= parseInt(startYear) && rowYear <= parseInt(endYear)) {
                    row.style.display = '';
                    const accordions = document.querySelectorAll(`.accordion-${rowYear}`);
                    accordions.forEach(acc => {
                        acc.style.display = '';
                    });
                } else {
                    row.style.display = 'none';
                    const accordions = document.querySelectorAll(`.accordion-${rowYear}`);
                    accordions.forEach(acc => {
                        acc.style.display = 'none';
                    });
                }
            });
        }

        document.getElementById('clearRange').addEventListener('click', HandleClearFilter);

        function HandleClearFilter() {
            const startYear = document.getElementById('startYear').value = null;
            const endYear = document.getElementById('endYear').value = null;

            const checkedCheckboxes = document.querySelectorAll('.year-checkbox:checked');
            checkedCheckboxes.forEach(function(checkbox) {
                checkbox.checked = false;
            });

            const rows = document.querySelectorAll('.tablerow');
            rows.forEach(row => {
                const rowYear = parseInt(row.getAttribute('data-year'));
                row.style.display = '';
                const accordions = document.querySelectorAll(`.accordion-${rowYear}`);
                    accordions.forEach(acc => {
                        acc.style.display = '';
                    });
            });
        }
    });
</script>

</html>