<footer class="text-gray-600 body-font w-full bg-black bg-opacity-50" style="backdrop-filter: blur(10px) brightness(70%);">
    <div class="container px-10 py-8 mx-auto flex items-center sm:flex-row flex-col">
        <a href="{{ url_for('home') }}" class="flex title-font font-medium items-center md:justify-start justify-center text-gray-900 cursor-pointer">
            <img src="{{ url_for('static', filename='assets/logo.svg') }}" alt="logo" class="w-12">
            <span class="ml-3 text-xl">ReSummarize</span>
        </a>
        <p class="text-sm text-gray-500 sm:ml-4 sm:pl-4 sm:border-l-2 sm:border-gray-200 sm:py-2 sm:mt-0 mt-4">© 2024 ReSummarize —
            <a href="https://twitter.com/knyttneve" class="text-gray-600 ml-1" rel="noopener noreferrer" target="_blank">@unplaced-minus-one</a>
        </p>
    </div>
</footer>