<header class="fixed top-0 sm:top-2 w-full body-font z-20">
    <div class="container mx-auto w-full sm:w-[80%] md:w-[70%] lg:w-[60%] xl:w-[50%] flex flex-wrap p-4 sm:p-4 md:p-5 px-6 sm:px-6 md:px-8 lg:px-10 sm:rounded-[1.5rem] md:rounded-[2rem] flex-row items-center justify-between bg-transparent sm:bg-[#181C22] sm:bg-opacity-70" style="backdrop-filter: blur(10px);">
        <a href="{{ url_for('home') }}" class="flex title-font font-medium items-center text-gray-900 cursor-pointer">
            <img src="{{ url_for('static', filename='assets/logo.svg') }}" alt="logo" class="w-10 sm:w-10 md:w-12">
            <span class="ml-2 sm:ml-3 text-base sm:text-base md:text-xl text-white">ResSummarize</span>
        </a>
        <nav class="flex items-center">
            <a href="{{ url_for('upload') }}" class="px-4 sm:px-3 md:px-4 py-2 sm:py-1.5 md:py-2 text-sm sm:text-sm md:text-base bg-[#76ABAE] text-white rounded-2xl hover:bg-[#5f8a8d] transition duration-300 ease-in-out cursor-pointer">Upload</a>
        </nav>
    </div>
</header>