<div id="card-{{ faculty.name + faculty.institution + faculty.email }}" class="border border-gray-300 rounded-lg p-4 max-w-xs text-center cursor-pointer">
    <div class="text-4xl font-bold bg-[#76ABAE] rounded-full w-20 h-20 flex items-center justify-center mx-auto mb-4">
        {% set first_name_initial = faculty.name.split(' ')[1][0] %}
        {{ first_name_initial }}
    </div>
    <h2 class="text-xl font-semibold mb-5">{{ faculty.name }}</h2>
    <div class="text-left">
        <p class="mb-2"><strong class="mr-2">Institution:</strong>{{ faculty.institution }}</p>
        <p class="mb-2"><strong class="mr-2">Email:</strong> <a href="mailto:{{ email }}" class="no-underline">{{ faculty.email }}</a></p>
        <p class="mb-2"><strong class="mr-3">Address:</strong>{{ faculty.address }}</p>
    </div>
</div>

<script>
    document.getElementById('card-{{ faculty.name + faculty.institution + faculty.email }}').addEventListener('click', () => {
        window.location.href = '/profile?faculty={{ faculty.encrypted_id }}';
    });
</script>