<div class="mt-2 w-full flex items-center">
    <p class="w-[60%] underline"><a href="{{ row.link }}"  target="_blank">{{ row.title }}</a></p>
    <p class="w-[30%] text-center">{{ row.journal }}</p>
    <p class="w-[10%] text-center">{{ row.year }}</p>
    <p class="w-[10%] flex items-center justify-center">
        <!-- down svg -->
        <svg id="toggle-accordion-down-{{ row.title }}" fill="currentColor" viewBox="0 0 16 16" class="w-7 h-7 text-center fill-white hover:fill-[#76ABAE] cursor-pointer"
            onclick="toggleAccordion('{{ row.title }}')">
            <path d="M16 8A8 8 0 110 8a8 8 0 0116 0zM8.5 4.5a.5.5 0 00-1 0v5.793L5.354 8.146a.5.5 0 10-.708.708l3 3a.5.5 0 00.708 0l3-3a.5.5 0 00-.708-.708L8.5 10.293V4.5z" />
        </svg>
        <!-- up svg -->
        <svg id="toggle-accordion-up-{{ row.title }}" fill="currentColor" viewBox="0 0 16 16" class="w-7 h-7 text-center fill-white hover:fill-[#76ABAE] cursor-pointer hidden"
            onclick="toggleAccordion('{{ row.title }}')">
            <path d="M16 8A8 8 0 100 8a8 8 0 0016 0zm-7.5 3.5a.5.5 0 01-1 0V5.707L5.354 7.854a.5.5 0 11-.708-.708l3-3a.5.5 0 01.708 0l3 3a.5.5 0 01-.708.708L8.5 5.707V11.5z" />
        </svg>
    </p>
</div>
<div id="accordion-content-{{ row.title }}" class="-ml-[2rem] w-[90%] accordion-content hidden mt-2 mb-3">
    <p class="text-sm text-[#EEEEEE] bg-[#343d4b] p-2 rounded-lg">{{ row.abstract }}</p>
</div>

<script>
    function toggleAccordion(id) {
        // Get the accordion content and arrow SVGs for this specific accordion
        let content = document.getElementById('accordion-content-' + id);
        let downArrow = document.getElementById('toggle-accordion-down-' + id);
        let upArrow = document.getElementById('toggle-accordion-up-' + id);

        // Toggle the content and arrows visibility
        if (content.classList.contains('hidden')) {
            content.classList.remove('hidden');
            downArrow.classList.add('hidden');
            upArrow.classList.remove('hidden');
        } else {
            content.classList.add('hidden');
            downArrow.classList.remove('hidden');
            upArrow.classList.add('hidden');
        }
    }
</script>
